.otpWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.otpWrapper > div{
    padding: 10px;
    background-color: #e8e6e6;
    /* width: 40px;
    height: 40px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px;
    line-height: 20px;
}

.agentViewBody{
    height: 80vh;
}

.agentViewButtons{
    height: 10vh;
}